* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

p {
    color: #70747a;
}

button, input, textarea, a {
    border: 0;
    outline: none;
}